@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

$semiblack: rgba(0, 0, 0, 0.83);
$black: rgba(0, 0, 0, 1);
$semiwhite: rgba(255, 255, 255, 0.83);
$white: rgba(255, 255, 255, 1);
$theme-light-accent: #9787d4;
$theme-dark-background: #453837;
$theme-dark-accent: #dfe6bb;

* {
    box-sizing: border-box;
}

:root {
    font-size: min(15px, calc(11px + .3vw));
}

body.dark {
    background-color: $theme-dark-background;
    color: $semiwhite;

    ::selection {
        background-color: $semiwhite;
        color: $theme-dark-background;
    }

    a {
        color: $theme-dark-accent;
        text-decoration-color: $theme-dark-accent;
    }

    .title img {
        filter: invert(1);
    }
}

body.light {
    background-color: $white;
    color: $semiblack;

    ::selection {
        background-color: $semiblack;
        color: $white;
    }

    a {
        color: $theme-light-accent;
        text-decoration-color: $theme-light-accent;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "proxima-nova", "Pretendard Variable", sans-serif;
    position: relative;
    background-color: $white;
    margin: 0;
}

#wrapper {
    margin: 0 2rem;
    font-size: 1.1rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.5vh 0 7vh 0;

    img {
        width: 192px;
        max-width: 30%;
        margin-left: min(24px, 3.75%);
        opacity: 0.83;
        cursor: pointer;
    }
}

.section {
    width: 640px;
    min-width: min(900px, 60vw);
    max-width: 100%;
    display: block;
    overflow: hidden;
    margin: 1.5vh auto auto auto;

    .content {
        line-height: 1.8;
        word-break: keep-all;
        width: inherit;
        min-width: inherit;
        max-width: inherit;

        p {
            letter-spacing: -0.05ch;
            margin: 3vh 0;
            font-weight: 400;
    
            &:nth-of-type(1) {
                margin-bottom: 1.5vh;
            }
    
            &:nth-of-type(2) {
                margin-top: 1.5vh;
            }
    
            mark {
                color: inherit;
                background-color: transparent;
                font-size: 1.3rem;
            }
    
            b {
                font-weight: 600;
            }
        }
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}