@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*:not(.fas) {
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-family: "Lato", "Noto Sans KR", sans-serif !important;
}

:root {
  --background: #dfddfa;
  --main-light: #b4afeb;
  --main: #8b84d7; 
  --sec-light: #ebafca;
  --light-bg: #fcfcfc;
}

html, body {
  width:100%;
  height:100%;
  background-color:var(--light-bg);
}

nav.theme-blue {
  background-color:var(--light-bg);
  border-bottom: 1px solid var(--main-light);
}

nav.theme-pink {
  background-color:var(--light-bg);
  border-bottom: 1px solid var(--sec-light);
}

nav.theme-blue>.collapse>form>.btn {
  color: var(--main-light);
  border-color: var(--main-light);
  background: transparent;
}

nav.theme-blue>.collapse>form>.btn:hover {
  color: var(--light-bg);
  border-color: var(--main-light);
  background: var(--main-light);
}

nav.theme-pink>.collapse>form>.btn {
  color: var(--sec-light);
  border-color: var(--sec-light);
  background: transparent;
}

nav.theme-pink>.collapse>form>.btn:hover {
  color: var(--light-bg);
  border-color: var(--sec-light);
  background: var(--sec-light);
}

.navbar-toggler {
  border-radius: 0;
  border: none;
  padding-left: 10.65px;
  padding-right: 10.65px;
}

.navbar-toggler.theme-blue {
  background: var(--main-light);
}

.navbar-toggler.theme-pink {
  background: var(--sec-light);
}

p {
  font-size: 1rem;
}

p.card-text {
  font-size: 1rem;
}

a {
  font-weight: 400;
}

a.theme-blue, a.theme-blue:hover, a.theme-blue:active {
  color: var(--main-light);
  border: none;
}

a.theme-pink, a.theme-pink:hover, a.theme-pink:active {
  color: var(--sec-light);
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

.container-fluid {
  height: 100%;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 100%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.bg-himitsuviolet {
  background-color: var(--main);
}

.fw-100 {
  font-weight: 100
}

.fw-200 {
  font-weight: 200
}

.fw-300 {
  font-weight: 300
}

.fw-400 {
  font-weight: 400
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

h6.card_subtitle {
  font-size: 0.75rem;
}

.card.theme-blue {
  border-width: 1px;
  background: transparent;
  border-color: var(--main-light);
}

.card.theme-pink {
  border-width: 1px;
  background: transparent;
  border-color: var(--sec-light);
}

.card:nth-of-type(1) {
  margin-top:3rem !important;
}

.card-title {
  font-weight: 300;
}

.custom-input.theme-blue, .custom-input.theme-blue:hover, .custom-input.theme-blue:focus {
  background-color:transparent;
  border: 1px solid var(--main-light);
  resize: none;
}

.custom-input.theme-pink, .custom-input.theme-pink:hover, .custom-input.theme-pink:focus {
  background-color:transparent;
  border: 1px solid var(--sec-light);
  resize: none;
}

.custom-button.theme-blue {
  background-color: transparent;
  color: var(--main-light);
  border: 1px solid var(--main-light);
}

.custom-button.theme-blue:hover {
  background-color: var(--main-light);
  color: white;
  border: 1px solid var(--main-light);
}

.custom-button.theme-pink {
  background-color: transparent;
  color: var(--sec-light);
  border: 1px solid var(--sec-light);
}

.custom-button.theme-pink:hover {
  background-color: var(--sec-light);
  color: white;
  border: 1px solid var(--sec-light);
}

.absolute-topright {
  position: absolute;
  top: 0;
  right: 0;
}
