@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap');

$black: rgba(0, 0, 0, 0.83);
$white: rgba(255, 255, 255, 1);
$theme-light: #787dab;
$theme-dark: #2d2f40;

* {
    box-sizing: border-box;
}

:root {
    font-size: min(15px, calc(11px + .3vw));
}

::selection {
    background-color: $theme-dark;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "proxima-nova", "Noto Sans KR", sans-serif;
    position: relative;
    margin: 0;
}

#wrapper {
    margin: 0 2rem;
    font-size: 1.1rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.5vh 0 7vh 0;

    img {
        width: 192px;
        max-width: 30%;
        margin-left: min(24px, 3.75%);
    }
}

.section {
    width: 640px;
    min-width: min(900px, 60vw);
    max-width: 100%;
    display: block;
    overflow: hidden;
    margin: 1.5vh auto auto auto;
    color: $black;

    .content {
        line-height: 1.8;
        word-break: keep-all;
        width: inherit;
        min-width: inherit;
        max-width: inherit;

        p {
            letter-spacing: -0.05ch;
            margin: 3vh 0;
            font-weight: 400;
    
            &:nth-of-type(1) {
                margin-bottom: 1.5vh;
            }
    
            &:nth-of-type(2) {
                margin-top: 1.5vh;
            }
    
            mark {
                color: inherit;
                background-color: transparent;
                font-size: 1.3rem;
            }
    
            b {
                font-weight: 600;
            }
    
            a {
                color: $theme-light;
                text-decoration-color: $theme-light;
            }
        }
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}