@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap');

$black: rgba(0, 0, 0, 0.93);
$white: rgba(255, 255, 255, 1);
$themeC: #3b3440;
// $themeCd: rgba(79, 72, 75, 0.96);

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", "Noto Sans KR", sans-serif;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.section {
  width: 100%;
  display: block;
  overflow: hidden;
}

.title-sec {
  background-color: $themeC;
  overflow-y: hidden;
  position: relative;
  min-height: 70vh;
  /*background: repeating-linear-gradient(45deg,
      $themeC,
      $themeC 10vw,
      $themeCd 10vw,
      $themeCd 20vw);*/

  .image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-cont {
    text-align: center;

    img {
      width: 9rem;
      opacity: 0.93;
      filter: invert(100%);
      // filter: invert(88%) sepia(18%) saturate(351%) hue-rotate(350deg) brightness(102%) contrast(107%);
    }

    h2 {
      margin-top: 1.3rem;
      font-size: 1.3rem;
      color: $white;
      font-weight: 700;
      letter-spacing: -0.05ch;
    }

    @media screen and (max-width: 720px) {
      img {
        width: 4.8rem;
      }

      h2 {
        margin-top: 0.94rem;
        font-size: 0.94rem;
      }
    }
  }

  .social-cont {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;

    h2 {
      font-size: 1.2rem;

      a {
        margin-right: 1rem;
        color: $white !important;
        transition: all 0.5s ease;
      }

      a:hover {
        opacity: 0.5;
      }

      a:last-of-type {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 720px) {
      bottom: 0.8rem;

      h2 {
        font-size: 1rem;

        a {
          margin-right: 0.57rem;
        }
      }
    }
  }
}

.section.f {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: $black;
  // background-color: #f7f7f7;

  .content {
    text-align: center;

    h1 {
      letter-spacing: 0.05ch;
      font-size: 1.75rem;
      font-weight: 700;
      margin-top: 0;
    }

    p {
      letter-spacing: -0.05ch;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    @media screen and (max-width: 720px) {
      h1 {
        font-size: 1.08rem;
      }

      p {
        font-size: 0.6rem;
        /*&>span {
          display:block;
        }*/
      }
    }
  }
}

.section.s,
.section.fo {
  background-color: $themeC;
  /*background: repeating-linear-gradient(45deg,
      $themeC,
      $themeC 10vw,
      $themeCd 10vw,
      $themeCd 20vw);*/
  padding: 5vw;
  color: $white;
}

.section.t,
.section.fi {
  // background-color: #f7f7f7;
  padding: 5vw;
  color: $black;
}

.section.fi {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  p {
    margin: 0 !important;
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.section.s,
.section.t,
.section.fo,
.section.fi {
  .content {
    max-width: 720px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;

    /*h2 {
      margin-top: 0;
      margin-bottom: 3vw;
      font-weight: 600;
    }*/

    p {
      letter-spacing: -0.05ch;
      font-weight: 400;
      font-size: 1.1rem;
      margin-top: 2em;
      margin-bottom: 2em;

      &.mt-0 {
        margin-bottom: -1em;
      }

      &.mt-0>i:first-of-type {
        display: block;
        font-size: 2.5rem;
      }

      mark {
        color: inherit;
        background-color: transparent;
        font-size: 1.5rem;
      }

      a {
        color: inherit;
        text-decoration-color: inherit;
        word-break: break-all !important;
      }
    }

    @media screen and (max-width: 720px) {
      p {
        font-size: 0.792rem;

        &.mt-0>i:first-of-type {
          font-size: 1.8rem;
        }

        mark {
          font-size: 1.08rem;
        }
      }
    }
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}