:root {
  --cl-prim: #85ffc7;
  --cl-dimmed: rgba(255, 233, 99, 0.5);
  --cl-black: #040F03;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: var(--cl-dimmed) !important;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Custom Styles */
.cs-nav {
  padding-top: 8px;
  padding-bottom: 15px;
}

.cs-menu>.header>img.ui.image {
  width: 1rem;
  height: 1rem;
}

.cs-capabilities>tbody>tr>td>div {
  display: inline-block;
  float: right
}

.cs-bar {
  height: .5em;
  max-width: 5.4rem;
}

.cs-bg-white {
  background-color: white
}

.cs-bg-black {
  background-color: var(--cl-black);
}

.cs-bg-vivid {
  background-color: var(--cl-prim);
}

.cs-section {
  padding-bottom: 5rem
}

.cs-section.first {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.cs-section.first>* {
  color: white;
  z-index: 1000;
}

.cs-section.second {
  padding-top: 5rem;
}

.cs-section>.ui.cards>.card>a.button {
  background-color: var(--cl-black);
  color: white;
}

.cs-section>.cards>.card>.image.cs-blur>img {
  filter: blur(.5em);
}

.cs-section>.cards>.card>.image.cs-blur {
  overflow: hidden;
}

.cs-footer>.container>.image {
  width: 2rem;
  margin: auto
}

.cs-footer>.container {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.cs-footer>.container>p {
  color: white;
  margin-top: 1.25rem;
}
